<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<input type="checkbox" name="This task has been completed!">
<label for="This task has been completed!">This task has been completed!</label>

<div>
<%= link_to "Back to Tasks", tasks_path %>
</div>
